amqp==5.0.6
amqplib==1.0.2
anyjson==0.3.3
appdirs==1.4.4
asgiref==3.3.4
astroid==2.5.6
beautifulsoup4==4.9.3
billiard==3.6.4.0
carrot==0.10.7
celery==5.0.5
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
Django==3.2.4
django-celery-beat==2.2.0
django-cors-headers==3.7.0
django-environ==0.4.5
django-kombu==0.9.4
django-timezone-field==4.1.2
djangorestframework==3.12.4
geographiclib==1.50
geopy==2.1.0
greenlet==1.1.0
html5lib==1.1
idna==2.10
isort==5.8.0
json2html==1.3.0
kombu==5.0.2
lazy-object-proxy==1.6.0
lxml==4.6.3
mccabe==0.6.1
numpy==1.20.2
pandas==1.2.4
pika==0.13.1
prompt-toolkit==3.0.18
psutil==5.8.0
pylint==2.8.2
pyparsing==2.4.7
python-crontab==2.5.1
python-dateutil==2.8.1
pytz==2021.1
redis==3.5.3
requests==2.25.1
selenium==3.141.0
six==1.16.0
soupsieve==2.2.1
sphinx-bootstrap-theme==0.6.5
SQLAlchemy==1.4.15
sqlparse==0.4.1
toml==0.10.2
tqdm==4.60.0
urllib3==1.26.4
vine==5.0.0
wcwidth==0.2.5
webdriver-manager==3.4.1
webdrivermanager==0.10.0
webencodings==0.5.1
wrapt==1.12.1
whitenoise==5.2.0
django-environ==0.4.5
psycopg2==2.8.6
pycparser==2.20
gunicorn==20.1.0